
.thumbnails{
    width: 100%;
}
.thumbnail{
    width: 100%;
}
.thumb{
    margin-bottom: 8px;
    position: relative;

}
.grid-info{
    display: grid;
    grid-template-columns: 40px 1fr;
}
.video-grid{
    display: grid;
   margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr ; 
   column-gap: 6px; 
   row-gap: 40px;
    }
.profile{
    width: 20px;
    border-radius: 100%;

}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 11px;
    right: 6px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}

